.home{
  height: 100%;
  padding-top: 14vh;
  padding-right: 7%;
  padding-left: 7%;
  overflow: hidden;
  font-size: 1.2em;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 215px;
    transform: rotate(-30deg);
    padding-bottom: 1rem;
  }
  
  //align-items: left;
  //text-align: left;
  // img {
  //   width: 410px;
  //   position: absolute;
  //   top: 23vh;
  //   left: 62%;
  //   transform: rotate(-30deg);
  // }
  

  &__name{
    font-size: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1.5px solid set-text-color($primary-color);

    &--last{
      color:$secondary-color;
      font-weight: 650;
    }
  }
}